@charset "UTF-8";
/* css 추가 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.multiline-ellipsis {
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap; /* line-height 가 1.2em 이고 3라인을 자르기 때문에 height는 1.2em * 3 = 3.6em */
}
